@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gaegu:wght@300&family=Gasoek+One&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@200&display=swap');
body{
    font-family: 'Gaegu';
}

.btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-green{
    background-color: green;
    color: white;
    font-size: 12pt;
}

.btn-pink{
    background-color: pink;
    color: black;
    font-size: 12pt;
}

.btn-black{
    background-color: black;
    color: white;
    font-size: 12pt;
}

.btn-orange{
    background-color: tomato;
    color: white;
}